model creation flow JSON
[{"id":"771984f0.2a76ec",
"type":"visual-recognition-util-v3",
"z":"7d948f56.8399e8",
"name":"create a costome model",
"vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"createClassifier","x":744,"y":1584.250005722046,"wires":[["d2d48241.265548"]]},
{"id":"dbc02d13.3dfa2","type":"inject","z":"7d948f56.8399e8",
"name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":273,"y":1493.250005722046,"wires":[["a498ff7.bd9d"]]},
{"id":"f819d55b.25d8","type":"change","z":"7d948f56.8399e8","name":"set positives",
"rules":[{"t":"set","p":"params.like_examples","pt":"msg","to":"payload","tot":"msg"}],
"action":"","property":"","from":"","to":"","reg":false,"x":533,"y":1542.250005722046,
"wires":[["75f7ebf3.c7822c"]]},
{"id":"6c723365.e3040c","type":"change","z":"7d948f56.8399e8",
"name":"set negatives","rules":[{"t":"set","p":"params.negative_examples","pt":"msg","to":"payload","tot":"msg"}],
"action":"","property":"","from":"","to":"","reg":false,"x":531.5,"y":1584.250005722046,"wires":[["771984f0.2a76ec"]]},
{"id":"a498ff7.bd9d","type":"function","z":"7d948f56.8399e8","name":"create model-1",
"func":"msg.params={'name':'model-1'};\nreturn msg;","outputs":1,"noerr":0,"x":437,"y":1493.250005722046,"wires":[["d2065095.c07c7"]]},
{"id":"d2d48241.265548","type":"debug","z":"7d948f56.8399e8","name":"","active":true,"tosidebar":true,"console":false,"complete":"result","x":947,"y":1585.250005722046,"wires":[]},
{"id":"d2065095.c07c7","type":"dropbox","z":"7d948f56.8399e8","dropbox":"","filename":"like1.zip","name":"like class","x":294.5,"y":1542.250005722046,
"wires":[["f819d55b.25d8"]]},{"id":"75f7ebf3.c7822c","type":"dropbox","z":"7d948f56.8399e8","dropbox":"","filename":"negative3.zip","name":"negative class","x":313.5,"y":1584.250005722046,"wires":[["6c723365.e3040c"]]}]
