node red flow/call model to get a score.json
[{"id":"dd82d959.b9e25","type":"function","z":"7d948f56.8399e8","name":"select custom model","func":"msg.params={};\nmsg.params[\"classifier_ids\"]=\"modelx1_1561818531\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1820,"wires":[["eac91dad.a7144"]]},{"id":"95f98f0d.aaade","type":"visual-recognition-v3","z":"7d948f56.8399e8","name":"call model","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","x":790,"y":1820,"wires":[["19216325.b1da8d"]]},{"id":"19216325.b1da8d","type":"debug","z":"7d948f56.8399e8","name":"get a score","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","targetType":"msg","x":970,"y":1820,"wires":[]},{"id":"e7d97e5f.8214d","type":"inject","z":"7d948f56.8399e8","name":"","topic":"","payload":"https://previews.dropbox.com/p/thumb/AAbtW_QN6nFMKYgQmUc6CyviRhNajCYqj3cbV0niPz8dOEsp3iYo3XSyPE_pFKSEmF_blKnG9OuAHR_Ii_D3xtJHZcRsvPKHrEYKJNVznIw9ZB3I2nZ1q27bBG3VFfS5lpNnHM_B91SeEYlptOeu9_OtBEOuGOUvk17zL3CqNAyaaoUAQBD29ytVrbdKowAdXn2S6FZTZQW2qb6FFm0HhYgtFDugkAPdnZ-heXWt0rbJL2d2WzTdXQ0sSweB-vxg4l33s-1vWILRgIhRW6RmSG7j0As9Quk6_oygGwOwZaqYMr4an-gIq6zw809UbYow0OWwJ7KV6fp7ipNoVapNhBdOjVENIjGwgWLX2YDiuSdGpQ/p.jpeg?size_mode=5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":1820,"wires":[["dd82d959.b9e25"]]},{"id":"eac91dad.a7144","type":"dropbox","z":"7d948f56.8399e8","dropbox":"","filename":"1.jpg","name":"image","x":630,"y":1820,"wires":[["95f98f0d.aaade"]]}]