node red flow/model detail retrieve.json
[{"id":"3cdfbc44.0e40fc","type":"visual-recognition-util-v3","z":"7d948f56.8399e8","name":"retrieve classifiers list","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"retrieveClassifiersList","x":720,"y":1632.250005722046,"wires":[["f8e036db.619278"]]},{"id":"3a04bc86.577e84","type":"inject","z":"7d948f56.8399e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":282,"y":1633.250005722046,"wires":[["3cdfbc44.0e40fc"]]},{"id":"f8e036db.619278","type":"debug","z":"7d948f56.8399e8","name":"","active":true,"tosidebar":true,"console":false,"complete":"result","x":948,"y":1632.250005722046,"wires":[]}]