node red flow/more operation.json
[{"id":"4d63f438.274a9c","type":"visual-recognition-util-v3","z":"e2593c63.d1abb8","name":"retrieve model list","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"retrieveClassifiersList","x":590,"y":800,"wires":[["a5fd8153.f14da8"]]},{"id":"5aeaf274.c47f6c","type":"visual-recognition-util-v3","z":"e2593c63.d1abb8","name":"retrieve model details","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"retrieveClassifierDetails","x":600,"y":840,"wires":[["d56b8102.3eaf5"]]},{"id":"e9f31952.57b26","type":"visual-recognition-util-v3","z":"e2593c63.d1abb8","name":"delete a model","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"deleteClassifier","x":580,"y":900,"wires":[["8d89feb9.af8308"]]},{"id":"67f5fe66.6cb338","type":"inject","z":"e2593c63.d1abb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":162,"y":801,"wires":[["4d63f438.274a9c"]]},{"id":"a5fd8153.f14da8","type":"debug","z":"e2593c63.d1abb8","name":"","active":true,"tosidebar":true,"console":false,"complete":"result","x":828,"y":800,"wires":[]},{"id":"8f6e8e4c.e515","type":"inject","z":"e2593c63.d1abb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":840,"wires":[["66a33395.e7c93c"]]},{"id":"4e213273.0ef7f4","type":"inject","z":"e2593c63.d1abb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":900,"wires":[["6aeca223.4cd8cc"]]},{"id":"d56b8102.3eaf5","type":"debug","z":"e2593c63.d1abb8","name":"","active":true,"tosidebar":true,"console":false,"complete":"result","x":830,"y":840,"wires":[]},{"id":"8d89feb9.af8308","type":"debug","z":"e2593c63.d1abb8","name":"","active":true,"console":"false","complete":"result","x":831,"y":900,"wires":[]},{"id":"66a33395.e7c93c","type":"function","z":"e2593c63.d1abb8","name":"set model ID","func":"msg.params={'classifier_id':'ModelxFormal_1939280215'};\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":840,"wires":[["5aeaf274.c47f6c"]]},{"id":"6aeca223.4cd8cc","type":"function","z":"e2593c63.d1abb8","name":"set model ID","func":"msg.params={'classifier_id':'ModelxFormal_1939280215'};\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":900,"wires":[["e9f31952.57b26"]]},{"id":"49db0dad.0a1f84","type":"inject","z":"e2593c63.d1abb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":960,"wires":[["44a68776.b3a9e8"]]},{"id":"44a68776.b3a9e8","type":"visual-recognition-util-v3","z":"e2593c63.d1abb8","name":"Delete all models","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"deleteAllClassifiers","x":590,"y":960,"wires":[["325b29e.7c96f56"]]},{"id":"325b29e.7c96f56","type":"debug","z":"e2593c63.d1abb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","targetType":"msg","x":830,"y":960,"wires":[]},{"id":"4613964a.2867e","type":"comment","z":"e2593c63.d1abb8","name":"More operations","info":"","x":160,"y":740,"wires":[]}]