node red flow/retrain the model.json
[{"id":"7d948f56.8399e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ddd540d1.17f39","type":"visual-recognition-v3","z":"7d948f56.8399e8","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"","x":510,"y":200,"wires":[[]]},{"id":"d34c273c.888ef8","type":"http in","z":"7d948f56.8399e8","name":"","url":"/reco","method":"get","upload":false,"swaggerDoc":"","x":170,"y":100,"wires":[["b9ced198.bc84f8"]]},{"id":"b9ced198.bc84f8","type":"switch","z":"7d948f56.8399e8","name":"Check image param","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":430,"y":260,"wires":[[],[]]},{"id":"13bd61a2.f462e6","type":"change","z":"7d948f56.8399e8","name":"extract url","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":380,"wires":[[]]},{"id":"7704eec3.0805c","type":"template","z":"7d948f56.8399e8","name":"Get image url","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head>\n        <title>Watson Visual Recognition on Node-RED</title>\n    </head>\n    <body>\n    <h1>Welcome to the Watson Visual Recognition Demo on Node-RED</h1>\n        <h2>Select an image URL</h2>\n        <form  action=\"{{req._parsedUrl.pathname}}\">\n            <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/1.jpg\" height='100'/>\n            <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/2.jpg\" height='100'/>\n            <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/3.jpg\" height='100'/>\n            <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/4.jpg\" height='100'/>\n            <br/>Copy above image location URL or enter any image URL:<br/>\n            <input type=\"text\" name=\"imageurl\"/>\n            <input type=\"submit\" value=\"Analyze\"/>\n        </form>\n    </body>\n</html>","output":"str","x":200,"y":300,"wires":[[]]},{"id":"cfbd4af9.cedf9","type":"template","z":"7d948f56.8399e8","name":"report","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head><title>Watson Visual Recognition on Node-RED</title></head>\n    <body>\n        <h1>Node-RED Watson Visual Recognition output</h1>\n        <p>Analyzed image: {{payload}}<br/><img src=\"{{payload}}\" height='100'/></p>\n        <table border='1'>\n            <thead><tr><th>Name</th><th>Score</th></tr></thead>\n        {{#result.images.0.classifiers.0.classes}}\n        <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n        {{/result.images.0.classifiers.0.classes}}\n        </table>\n        <form  action=\"{{req._parsedUrl.pathname}}\">\n            <input type=\"submit\" value=\"Try again\"/>\n        </form>\n    </body>\n</html>","output":"str","x":670,"y":400,"wires":[[]]},{"id":"4cf3258f.f2d594","type":"visual-recognition-v3","z":"7d948f56.8399e8","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":510,"y":640,"wires":[["6cd729d2.436e08"]]},{"id":"927712d1.531e4","type":"http in","z":"7d948f56.8399e8","name":"","url":"/reco","method":"get","upload":false,"swaggerDoc":"","x":128,"y":458,"wires":[["2d3cc594.46796a"]]},{"id":"32553a51.b13b46","type":"http response","z":"7d948f56.8399e8","name":"HTTP Response","x":796,"y":523,"wires":[]},{"id":"2d3cc594.46796a","type":"switch","z":"7d948f56.8399e8","name":"Check image param","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":252,"y":520,"wires":[["d23bd638.653"],["257095b7.c54fb2"]]},{"id":"d23bd638.653","type":"template","z":"7d948f56.8399e8","name":"Get Image URL","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition on Node-RED</title></head>\n<body>\n<h1>Welcome to the Watson Visual Recognition Demo on Node-RED</h1>\n    <h2>Select an image URL</h2>\n    <form  action=\"{{req._parsedUrl.pathname}}\">\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/1.jpg\" height='100'/>\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/2.jpg\" height='100'/>\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/3.jpg\" height='100'/>\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/4.jpg\" height='100'/>\n        <br/>Copy above image location URL or enter any image URL:<br/>\n        <input type=\"text\" name=\"imageurl\"/>\n        <input type=\"submit\" value=\"Analyze\"/>\n    </form>\n</body>\n</html>","x":546,"y":489,"wires":[["32553a51.b13b46"]]},{"id":"6cd729d2.436e08","type":"template","z":"7d948f56.8399e8","name":"Report","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition on Node-RED</title></head>\n<body>\n<h1>Node-RED Watson Visual Recognition output</h1>\n<p>Analyzed image: {{payload}}<br/><img src=\"{{payload}}\" height='100'/></p>\n<table border='1'>\n    <thead><tr><th>Name</th><th>Score</th></tr></thead>\n{{#result.images.0.classifiers.0.classes}}\n  <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n{{/result.images.0.classifiers.0.classes}}\n</table>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <input type=\"submit\" value=\"Try again\"/>\n</form>\n</body>\n</html>","x":641,"y":557,"wires":[["32553a51.b13b46"]]},{"id":"257095b7.c54fb2","type":"change","z":"7d948f56.8399e8","name":"Extract img URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":338,"y":578,"wires":[["4cf3258f.f2d594"]]},{"id":"e3975e06.7e3078","type":"comment","z":"7d948f56.8399e8","name":"!!Make sure you bind Visual Recognition Service to Node-RED App!!","info":"When running in BlueMix, the credentials for the service will be filled-in from BMix credentials management.\nFor this to work, the Visual Recognition Service has to be bound to the Node-RED application.\n","x":517,"y":675,"wires":[]},{"id":"b88bff8c.d3c168","type":"comment","z":"7d948f56.8399e8","name":"Link to the Lab instructions (to come)","info":"See corresponding Lab instructions in the link below :\n\n[Watson Visual Recognition](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/visual_recognition_v3)\n","x":410,"y":1040,"wires":[]},{"id":"34872754.25d7c8","type":"comment","z":"7d948f56.8399e8","name":"Configure VR v3 nodes with the API Key !","info":"No Binding with IBM Cloud app is currently available for Watson Visual Recognition v3 service.\nThe API Key is available in the IBM Cloud Console in the Credentials section of the service detail.","x":965.5000076293945,"y":1040,"wires":[]},{"id":"9ecc3dc3.d569b8","type":"comment","z":"7d948f56.8399e8","name":"TRAINING your own classifier","info":"build new Specific Classifier to be used","x":390,"y":1414.250005722046,"wires":[]},{"id":"817e0c7c.edec18","type":"inject","z":"7d948f56.8399e8","name":"URL","topic":"","payload":"http://visual-recognition-demo.mybluemix.net/images/samples/2.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":350,"y":1080,"wires":[["fc7ff227.73e96"]]},{"id":"fc7ff227.73e96","type":"visual-recognition-v3","z":"7d948f56.8399e8","name":"Classify an image","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":729.5,"y":1077.5000009536743,"wires":[["dbc93d60.a9c6f8"]]},{"id":"a6ba076a.d68cb8","type":"inject","z":"7d948f56.8399e8","name":"URL","topic":"","payload":"http://visual-recognition-demo.mybluemix.net/images/samples/5.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":338,"y":1194.5000009536743,"wires":[["dc80b880.70c8"]]},{"id":"dc80b880.70c8","type":"visual-recognition-v3","z":"7d948f56.8399e8","name":"Recognize Text","image-feature":"classifyImage","x":714,"y":1192.5000009536743,"wires":[["dbc93d60.a9c6f8"]]},{"id":"e8f0cf82.b49208","type":"visual-recognition-v3","z":"7d948f56.8399e8","name":"Detect Faces","image-feature":"detectFaces","x":721.5,"y":1267.5000009536743,"wires":[["dbc93d60.a9c6f8"]]},{"id":"b92144db.289f2","type":"inject","z":"7d948f56.8399e8","name":"URL","topic":"","payload":"http://visual-recognition-demo.mybluemix.net/images/samples/1.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":338,"y":1267.5000009536743,"wires":[["e8f0cf82.b49208"]]},{"id":"dbc93d60.a9c6f8","type":"debug","z":"7d948f56.8399e8","name":"","active":true,"tosidebar":true,"console":true,"complete":"result","x":1039.5,"y":1123.5000009536743,"wires":[]},{"id":"5aad9aac.6ddf7c","type":"inject","z":"7d948f56.8399e8","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":358.5,"y":1117.5000009536743,"wires":[["f16146c8.99194"]]},{"id":"f16146c8.99194","type":"http request","z":"7d948f56.8399e8","name":"","method":"GET","ret":"bin","url":"https://visual-recognition-demo.mybluemix.net/images/samples/2.jpg","x":519.5,"y":1118.5000009536743,"wires":[["fc7ff227.73e96"]]},{"id":"c5c6e0e7.bfe0e8","type":"inject","z":"7d948f56.8399e8","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":359.5,"y":1157.5000009536743,"wires":[["ae80b2d3.841f9"]]},{"id":"771984f0.2a76ec","type":"visual-recognition-util-v3","z":"7d948f56.8399e8","name":"retrain the model","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"updateClassifier","x":724,"y":1584.250005722046,"wires":[["d2d48241.265548"]]},{"id":"3cdfbc44.0e40fc","type":"visual-recognition-util-v3","z":"7d948f56.8399e8","name":"retrieve model list","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"retrieveClassifiersList","x":710,"y":1632.250005722046,"wires":[["f8e036db.619278"]]},{"id":"4d92240e.e96d94","type":"visual-recognition-util-v3","z":"7d948f56.8399e8","name":"retrieve classifier details","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"retrieveClassifierDetails","x":724,"y":1681.250005722046,"wires":[["b5778a73.afbf1"]]},{"id":"7fcdb4c4.8d5efc","type":"visual-recognition-util-v3","z":"7d948f56.8399e8","name":"delete a classifier","image-feature":"deleteClassifier","x":705,"y":1733.250005722046,"wires":[["c9c7fc13.5784b"]]},{"id":"dbc02d13.3dfa2","type":"inject","z":"7d948f56.8399e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":273,"y":1493.250005722046,"wires":[["a498ff7.bd9d"]]},{"id":"3a04bc86.577e84","type":"inject","z":"7d948f56.8399e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":282,"y":1633.250005722046,"wires":[["3cdfbc44.0e40fc"]]},{"id":"f8e036db.619278","type":"debug","z":"7d948f56.8399e8","name":"","active":true,"tosidebar":true,"console":false,"complete":"result","x":948,"y":1632.250005722046,"wires":[]},{"id":"fb0f53aa.6448b","type":"inject","z":"7d948f56.8399e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":281,"y":1679.250005722046,"wires":[["21f766d1.c3fd9a"]]},{"id":"6605dd0a.4318ec","type":"inject","z":"7d948f56.8399e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":282,"y":1726.250005722046,"wires":[["fedfe555.e69298"]]},{"id":"b5778a73.afbf1","type":"debug","z":"7d948f56.8399e8","name":"","active":true,"tosidebar":true,"console":false,"complete":"result","x":952,"y":1681.250005722046,"wires":[]},{"id":"c9c7fc13.5784b","type":"debug","z":"7d948f56.8399e8","name":"","active":true,"console":"false","complete":"result","x":951,"y":1732.250005722046,"wires":[]},{"id":"f819d55b.25d8","type":"change","z":"7d948f56.8399e8","name":"set positives","rules":[{"t":"set","p":"params.like_examples","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":533,"y":1542.250005722046,"wires":[["75f7ebf3.c7822c"]]},{"id":"6c723365.e3040c","type":"change","z":"7d948f56.8399e8","name":"set negatives","rules":[{"t":"set","p":"params.negative_examples","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":531.5,"y":1584.250005722046,"wires":[["771984f0.2a76ec"]]},{"id":"a498ff7.bd9d","type":"function","z":"7d948f56.8399e8","name":"create custom model","func":"msg.params={'name':'model-1'};\nreturn msg;","outputs":1,"noerr":0,"x":457,"y":1493.250005722046,"wires":[["d2065095.c07c7"]]},{"id":"d2d48241.265548","type":"debug","z":"7d948f56.8399e8","name":"","active":true,"tosidebar":true,"console":false,"complete":"result","x":947,"y":1585.250005722046,"wires":[]},{"id":"512a2e93.8328a","type":"inject","z":"7d948f56.8399e8","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":356,"y":1303.5000009536743,"wires":[["c4c8d061.d2f51"]]},{"id":"f093e065.cabfb8","type":"inject","z":"7d948f56.8399e8","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":358,"y":1229.5000009536743,"wires":[["fc08fe63.b76dc8"]]},{"id":"21f766d1.c3fd9a","type":"function","z":"7d948f56.8399e8","name":"set classifier_id","func":"msg.params={'classifier_id':'modelx2_1813778036'};\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1680,"wires":[["4d92240e.e96d94"]]},{"id":"fedfe555.e69298","type":"function","z":"7d948f56.8399e8","name":"set classifier_id","func":"msg.params={'classifier_id':'retrievers_1305424883'};\nreturn msg;","outputs":1,"noerr":0,"x":490.5,"y":1732.250005722046,"wires":[["7fcdb4c4.8d5efc"]]},{"id":"dd82d959.b9e25","type":"function","z":"7d948f56.8399e8","name":"select custom model","func":"msg.params={};\nmsg.params[\"classifier_ids\"]=\"modelx1_1561818531\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1820,"wires":[["eac91dad.a7144"]]},{"id":"95f98f0d.aaade","type":"visual-recognition-v3","z":"7d948f56.8399e8","name":"call model","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","x":790,"y":1820,"wires":[["19216325.b1da8d"]]},{"id":"19216325.b1da8d","type":"debug","z":"7d948f56.8399e8","name":"get a score","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","targetType":"msg","x":970,"y":1820,"wires":[]},{"id":"d8239de1.36091","type":"comment","z":"7d948f56.8399e8","name":"Advanced Options","info":"build new Specific Classifier to be used","x":280.25,"y":1773.2500171661377,"wires":[]},{"id":"57f71629.5f248","type":"inject","z":"7d948f56.8399e8","name":"caricature test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":358.75000381469727,"y":1351.250015258789,"wires":[["75b58d20.ec6afc"]]},{"id":"3137514c.916cde","type":"visual-recognition-v3","z":"7d948f56.8399e8","name":"Classify an image","image-feature":"classifyImage","x":715.0000038146973,"y":1352.500015258789,"wires":[["d1b1e369.836bc"]]},{"id":"2d513a6e.6608fe","type":"visual-recognition-v3","z":"7d948f56.8399e8","name":"Recognize Text","image-feature":"recognizeText","x":706.2500038146973,"y":1401.250015258789,"wires":[["d1b1e369.836bc"]]},{"id":"d1b1e369.836bc","type":"debug","z":"7d948f56.8399e8","name":"","active":true,"console":"false","complete":"result","x":948.1250038146973,"y":1372.500015258789,"wires":[]},{"id":"b9afed08.429768","type":"comment","z":"7d948f56.8399e8","name":"Samples Files (click me)","info":"Here is the link where you can download all the sample files used in this sample flow :\n[Watson Visual Recognition v3 Sample Files](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/visual_recognition/sample_files)","x":678.1250152587891,"y":1040,"wires":[]},{"id":"ae80b2d3.841f9","type":"dropbox","z":"7d948f56.8399e8","dropbox":"","filename":"lego-2.jpg","name":"lego-2.jpg","x":521.5,"y":1157.5000009536743,"wires":[["fc7ff227.73e96"]]},{"id":"d2065095.c07c7","type":"dropbox","z":"7d948f56.8399e8","dropbox":"","filename":"like1.zip","name":"like class","x":294.5,"y":1542.250005722046,"wires":[["f819d55b.25d8"]]},{"id":"75f7ebf3.c7822c","type":"dropbox","z":"7d948f56.8399e8","dropbox":"","filename":"negative3.zip","name":"negative class","x":313.5,"y":1584.250005722046,"wires":[["6c723365.e3040c"]]},{"id":"c4c8d061.d2f51","type":"dropbox","z":"7d948f56.8399e8","dropbox":"","filename":"faces-1.jpg","name":"faces-1.jpg","x":522,"y":1303.5000009536743,"wires":[["e8f0cf82.b49208"]]},{"id":"fc08fe63.b76dc8","type":"dropbox","z":"7d948f56.8399e8","dropbox":"","filename":"text-5.jpg","name":"text-5.jpg","x":511,"y":1229.5000009536743,"wires":[["dc80b880.70c8"]]},{"id":"75b58d20.ec6afc","type":"dropbox","z":"7d948f56.8399e8","dropbox":"","filename":"quest-cargo-pants-9QCX32.jpgce-2016.jpg","name":"caricature","x":527.5000038146973,"y":1351.250015258789,"wires":[["3137514c.916cde","2d513a6e.6608fe"]]},{"id":"e7d97e5f.8214d","type":"inject","z":"7d948f56.8399e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1820,"wires":[["dd82d959.b9e25"]]},{"id":"eac91dad.a7144","type":"dropbox","z":"7d948f56.8399e8","dropbox":"","filename":"1.jpg","name":"image","x":630,"y":1820,"wires":[["95f98f0d.aaade"]]},{"id":"9024ab52.c7c6d","type":"dropbox","z":"7d948f56.8399e8","dropbox":"","filename":"retrain.zip","name":"like","x":430,"y":1920,"wires":[["934e7fa7.bb6f8"]]},{"id":"73a6101c.e8f578","type":"dropbox","z":"7d948f56.8399e8","dropbox":"","filename":"115.png","name":"negative","x":520,"y":2060,"wires":[[]]},{"id":"e26a3697.239098","type":"function","z":"7d948f56.8399e8","name":"select custom model","func":"msg.params={'classifier_id':'modelx2_1813778036'};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1980,"wires":[["9024ab52.c7c6d"]]},{"id":"934e7fa7.bb6f8","type":"change","z":"7d948f56.8399e8","name":"set postives","rules":[{"t":"set","p":"params.like_examples","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1920,"wires":[["55e0e25b.94f3e4"]]},{"id":"55e0e25b.94f3e4","type":"visual-recognition-util-v3","z":"7d948f56.8399e8","name":"update model","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"updateClassifier","x":820,"y":1920,"wires":[["3604c34f.851044"]]},{"id":"3604c34f.851044","type":"debug","z":"7d948f56.8399e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","targetType":"msg","x":1000,"y":1920,"wires":[]},{"id":"2ea0e799.b1e3e","type":"inject","z":"7d948f56.8399e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":1900,"wires":[["e26a3697.239098"]]}]